<?xml version="1.0" encoding="UTF-8" ?>
<Configuration
    xmlns:xi="http://www.w3.org/2001/XInclude"
    packages="dev.floffah.gamermode"
    status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%t] [%d{yyyy-mm-dd HH:mm:ss.SSS} %level]: %msg{nolookups}%n"
            />
        </Console>
        <GuiAppender name="GuiWindow">
            <PatternLayout
                pattern="[%t] [%d{HH:mm:ss.SSS} %level]: %msg{nolookups}%n"
            />
        </GuiAppender>
        <RollingRandomAccessFile
            name="Disk"
            fileName="data/logs/current.log"
            filePattern="data/logs/previous/%d{yyyy-MM-dd.HH-mm-ss}.%i.log.gz">
            <PatternLayout
                pattern="[%t] [%d{yyyy-mm-dd HH:mm:ss.SSS} %level]: %msg{nolookups}%n"
            />
            <DefaultRolloverStrategy max="1024" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
        <Async name="Main">
            <AppenderRef ref="Console" />
            <AppenderRef ref="GuiWindow" />
            <AppenderRef ref="Disk" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <filters>
                <MarkerFilter
                    marker="NETWORK_PACKETS"
                    onMatch="DENY"
                    onMismatch="NEUTRAL"
                />
            </filters>
            <AppenderRef ref="Main" />
        </Root>
    </Loggers>
</Configuration>
