{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "embeddedLanguageFormatting": "auto",
    "plugins": [
        "prettier-plugin-java",
        "@prettier/plugin-xml"
    ],
    "bracketSameLine": true
}